<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            counter-reset: p; /* initialization of counter */
        }
        p:before {
            counter-increment: p; /* identification for counter  */
            content: "" counter(p) ". "; /* output for counter */
        }
    </style>
</head>
<body>
<h2><span>{{tests.testTitle}}</span>
</h2>
<jhi-alert-error></jhi-alert-error>
<dl class="row-md jh-entity-details">
    <dd>
        <tr *ngFor="let questions of tests.questions ;trackBy: trackId">
            <td>

                <div *ngIf="tests.questions">
                    <p class ="font-weight-bold">{{questions.testQuestions}}</p>
                </div>

    <dd>
        <tr *ngFor="let answers of questions.answers;trackBy: trackId">
            <td>

                <div *ngIf="questions.answers">

                        <input [(ngModel)]="options[questions.id]" [checked]="options[questions.id]" value="{{answers.id}}" type="radio" name="option{{questions.id}}" > {{answers.testAnswer}}


                </div>
            </td>
        </tr>
    </dd>
            </td>
        </tr>
    </dd>

</dl>
<button class="btn btn-primary" (click)="onSubmit()">
    <span> Submit </span>
</button>
</body>
</html>

