<form name="TotalScoreForm">
    <div class="modal-header">
        <h4 class="modal-title">Total result</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p id="jhi-total-tests-heading">Total:</p>
        <p id="jhi-wrong-tests-heading">Wrong:</p>
        <p id="jhi-correct-tests-heading">Correct:</p>
    </div>

</form>
