<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tests">
            <h2><span>Tests</span> {{tests.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Test Title </span></dt>
                <dd>
                    <span>{{tests.testTitle}}</span>
                </dd>
                <dt><span>Questions</span></dt>
                <dd>
                    <tr *ngFor="let questions of questions ;trackBy: trackId">

                </dd>
            </dl>


            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tests', tests.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
