<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tests">
            <h2><span>Tests</span> {{tests.id}}
                <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-questions" [routerLink]="['/questions/new']">
                    <fa-icon [icon]="'plus'"></fa-icon>
                    <span >
            Create new Questions
            </span>
                </button>
            </h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Questions</span></dt>
                <dd>
                    <tr *ngFor="let questions of tests.questions ;trackBy: trackId">
                        <td>
                            <div *ngIf="tests.questions">
                                <a [routerLink]="['/questions', questions.id, 'view' ]" >{{questions.testQuestions}}</a>
                            </div>
                        </td>
                    </tr>
                </dd>
            </dl>


            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tests', tests.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
