<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">

        <h1 class="text-capitalize text-center">Tests</h1>
    </div>
    <div class="col-md-1"></div>
</div>
 <table class="table table-striped">
        <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of testData ;trackBy: trackId">
            <td>{{row.testTitle}}</td>
            <td class="text-right">
                <div class="btn-group flex-btn-group-container">
                    <button class="btn btn-warning pull-right"
                            [routerLink]="['/tests', row.id, 'testView']">
                        <strong >Start test</strong>
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

