
<!--<h6 class="text-right">{{message}}</h6>-->

<div class="row">



    <ng-container *ngFor="let row of testData">

        <div>
            <div>
                {{row.testTitle}}
            </div>

        <div *ngFor="let composant of row.questions">


            <p> {{ composant.testQuestions}} </p>


            <div *ngFor="let composant1 of composant.answers">


                <p> {{composant1.testAnswer}}</p>


            </div>



        </div>


        </div>
        <ng-container>

</div>
