<div>
    <h2 id="page-heading">
        <span>Answers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-answers" [routerLink]="['/answers/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Answers
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="answers">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span>ID</span></th>
            <th><span>Test Answer</span></th>
            <th><span>Correct</span></th>
            <th><span>Questions</span></th>
             <th><span>Tests</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let answers of answers ;trackBy: trackId">
                <td><a [routerLink]="['/answers', answers.id, 'view' ]">{{answers.id}}</a></td>
                <td>{{answers.testAnswer}}</td>
                <td>{{answers.correct}}</td>

                <td>
                    <div *ngIf="answers.questions">
                        <a [routerLink]="['../questions', answers.questions?.id, 'view' ]" >{{answers.questions?.testQuestions}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="answers.questions.tests">
                        <a [routerLink]="['../tests', answers.questions.tests?.id, 'view' ]" >{{answers.questions.tests?.testTitle}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/answers', answers.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/answers', answers.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'answers/'+ answers.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
