<div>
    <h2 id="page-heading">
        <span>Questions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-questions" [routerLink]="['/questions/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Questions
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="questions">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span>ID</span></th>
            <th><span>Test Questions</span></th>
            <th><span>Tests</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let questions of questions ;trackBy: trackId">
                <td><a [routerLink]="['/questions', questions.id, 'view' ]">{{questions.id}}</a></td>
                <td>{{questions.testQuestions}}</td>
                <td>
                    <div *ngIf="questions.tests">
                        <a [routerLink]="['../tests', questions.tests?.id, 'view' ]" >{{questions.tests?.testTitle}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/questions', questions.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/questions', questions.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'questions/'+ questions.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
