<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="questions">
            <h2><span>Questions: </span> {{questions.testQuestions}}
                <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-answers" [routerLink]="['/answers/new']">
                    <fa-icon [icon]="'plus'"></fa-icon>
                    <span >
            Create new Answers
            </span>
                </button>
            </h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Answers</span></dt>
                <dd>
                    <tr *ngFor="let answers of questions.answers;trackBy: trackId">
                        <td>
                            <div *ngIf="answers">
                                <a [routerLink]="['/answers', answers.id, 'view' ]" >{{answers.testAnswer}}</a>
                            </div>
                        </td>
                    </tr>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/questions', questions.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
