<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="questions">
            <h2><span>Questions</span> {{questions.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Test Questions</span></dt>
                <dd>
                    <span>{{questions.testQuestions}}</span>
                </dd>
                <dt><span>Tests</span></dt>
                <dd>
                    <div *ngIf="questions.tests">
                        <a [routerLink]="['/tests', questions.tests?.id, 'view']">{{questions.tests?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/questions', questions.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
