

<!--Up is main that is only visible to authenticated users-->

<div *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_USER']" class="">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="">
        <h1 >Welcome to Knowledge-Check!</h1>
        <p class="lead">This is your homepage</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message-admin" *ngIf="account"
                > You are logged in as Slave "{{account.login}}". </span>
            </div>

        </div>
    </div>
</div>



<div [ngSwitch]="isAuthenticated()">

    <div *ngSwitchCase="false">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="alert alert-danger" *ngIf="authenticationError">
                    <strong>Failed to sign in!</strong> Please check your credentials and try again.
                </div>
            </div>





            <div class="login">
                <h1></h1>
                <img src="./final.png" alt="">
                <h1>Sign in</h1>
                <form method="post" (ngSubmit)="login()">


                        <input type="text" name="u"  id="username" placeholder="UserID"
                               [(ngModel)]="username" required="required" >



                        <input type="password" name="p"  id="password" placeholder="Password"
                               [(ngModel)]="password" required="required" >


                    <button type="submit" class="btn btn-primary btn-block btn-large">Login</button>
                </form>
            </div>

    </div>
</div>
</div>



