

<!--Up is main that is only visible to authenticated users-->
<div class="container" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_USER']">

    <div class="">

        <div class="col-sm-12 blog-main">
            <br>

            <div>
                <h2 class="blog-post-title">Welcome to knowledge testing system !</h2>
                <br>


                <div [ngSwitch]="isAuthenticated()">
                    <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message-admin" *ngIf="account"
                > You are logged in as {{account.firstName}} . </span>
                    </div>
                </div>


                <p></p>

                <p>This blog post shows a few different types of content that's supported and styled with Bootstrap. Basic typography, images, and code are all supported.</p>
                <hr>
                <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
                <blockquote>
                    <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </blockquote>
                <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>

            </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->



    </div><!-- /.row -->

</div><!-- /.container -->


<div [ngSwitch]="isAuthenticated()">

    <div *ngSwitchCase="false">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="alert alert-danger" *ngIf="authenticationError">
                    <strong>Failed to sign in!</strong> Please check your credentials and try again.
                </div>
            </div>





            <div class="login">
                <h1></h1>
                <img src="./final.png" alt="">
                <h1>Sign in</h1>
                <form method="post" (ngSubmit)="login()">


                        <input type="text" name="u"  id="username" placeholder="UserID"
                               [(ngModel)]="username" required="required" >



                        <input type="password" name="p"  id="password" placeholder="Password"
                               [(ngModel)]="password" required="required" >


                    <button type="submit" class="btn btn-primary btn-block btn-large">Login</button>
                </form>
            </div>

    </div>
</div>
</div>



